# Dependencies
node_modules/
package-lock.json
package.json
main_electron.js
# Build files
dist/
build/
out/
release/
*.exe
win-unpacked/

# Electron specific
.electron-builder.*
electron-builder.yml
**/electron/dist/**
**/electron/download/**

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db